<!-- <!DOCTYPE html>
<html>
    <head>
        <title>{{.PageTitle}}</title>
    </head>
    <body>
        <h1>{{.StoryTitle}}</h1>
        <p>
            {{range .Storys}}
                <p>{{.}}</p>
            {{end}}
        </p>

        {{if .Options}}
        <h1>Below is your options to choose different chapters of how story goes:</h1>
        <p>
            {{range .Options}}
                <p>{{.Text}}</p>
                <p>click <button type="button" onclick="location.href='{{.Arc}}'">"{{.Arc}}"</button> if you want to choose above chapter</p>
        </p>
        {{end}}{{else}}
        <p>
            ~ Story Ends ~
        </p>
        {{end}}
    </body>

</html> -->